* {
  font-family: "Overlock", sans-serif;
}

.alt-text {
  font-family: "Goldman", sans-serif;
}

.link {
  color: #fff;
}
.link:hover {
  color: #d5c5ff;
}

.gradient {
  background: linear-gradient(-45deg, #3d41b8, #8171e3, #71abe3, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
